.view-article {
  display: block;
}

.master-header-div {
  display: flex;
  margin: 0%;
  padding: 0%;
}

.article-header-div {
  border: 1px solid black;
  width: 50%;
  padding: 0%;
  margin-left: 40px;
  justify-content: space-between;
  margin-top: 60px;
}

.article-header-sub-div {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 0%;
}

.article-header-sub-div-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 0%;
}

#fact-opinion {
  display: inline-flex;
  padding-top: 8px;
  padding-right: 0%;
}

.article-image-div {
  border: 1px solid black;
  margin-right: 35px;
  display: flex;
  width: 50%;
  margin-top: 40px;
}

#article-image {
  width: 100%;
}

#article-content {
  margin: 20px auto;
  text-align: justify;
  hyphens: auto;
  width: 80%;
}