.footer {
    background-color: #3A4045;
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    color: white;
    text-align: center;
}

.footer-list {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: left;
}