.home-section {
    position: relative;
    height: 90vh;
    width: 100vw;
}

.bg-image {
    position: absolute;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}
  
.home-logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .home-logo {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

.start-reading {
    color: #3A4045;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Varela Round';
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.start-reading::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #3A4045;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
  }
  
.start-reading:hover::before {
    width: 100%;
    transition: width 0.4s ease-in-out;
  }
  
.start-reading::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #3A4045;
    bottom: 0;
    right: 0;
    transition: width 0.4s ease-in-out;
  }
  
.start-reading:hover::after {
    width: 100%;
    transition: width 0.4s ease-in-out;
  }