.login-box {
    background-color: #3A4045;
    color: white;
    font-family: 'Varela Round';
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:120px;
}

#close-btn {
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#greeting {
    text-align: center; /* Center the text */
    margin-top: 20px;
}

label {
    display: block; /* Display labels as blocks to stack them */
    margin-bottom: 10px;
}

input {
    display: block; /* Display inputs as blocks to stack them */
    border: 1px solid white;
    background-color: #3A4045;
    width: 100%; /* Take full available width */
    height: 40px; /* Adjust height as needed */
}

#email,
#password {
    margin-bottom: 20px; /* Add space between inputs */
}

#sign-in {
    background-color: white;
    color: #3A4045;
    font-size: 22px;
    font-family: 'Varela Round';
    display: block;
    width: 100%; /* Take full available width */
    height: 40px; /* Adjust height as needed */
    border: none;
    cursor: pointer;
}

h3 {
    text-align: center; /* Center the text */
    color: #B5BFC8;
    margin-top: 20px;
}

a {
    color: white;
}

/* Media query for screens smaller than 768px wide */
@media (max-width: 768px) {
    .login-box {
        width: 90%; /* Adjust width as needed for smaller screens */
    }
}