.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #3A4045;
}

.nav-logo-img {
    height: 70px;
    width: 120px;
    margin: 20px 0 5px 30px;
    display: flex;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
    padding-bottom: 10px;
    margin: 0;
}

.nav-items {
    font-family: 'Varela Round';
    margin: 40px 40px 0 0;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.nav-items::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
  }
  
.nav-items:hover::before {
    width: 100%;
    transition: width 0.4s ease-in-out;
  }
  
.nav-items::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    right: 0;
    transition: width 0.4s ease-in-out;
  }
  
.nav-items:hover::after {
    width: 100%;
    transition: width 0.4s ease-in-out;
  }

a {
    text-decoration: none;
    color: inherit;
  }  