body {
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
.search {
    display: flex;
    width: 100vw;
    position: absolute;
    justify-content: center;
    background-color: #3A4045;
    padding: 25px 0 27px 0;
    z-index: 1;
  }

input[type="search"] {
    color: white;
    width: 40%;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid white;
    background: transparent;
  }

input[type="search"]:focus {
    outline: none;
}

.search-icon {
    width: 30px;
    height: 30px;
}